@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: 'Open Sans', sans-serif;
}

.gameSetContainer {
  display: flex;
  width: 1500px;
  /* margin: auto; */
  /* font-family: 'Open Sans', sans-serif; */
}

.gameChild {
  border: 2px solid red;
  height: fit-content;
}  

.gameChild:first-child {
  /* margin: auto; */
  width: 250px;
  margin-right: 20px;
  color: white;
} 
.gameSetDisplay{
  position: center;
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 50px;
  border: 1px solid rgba(10, 180, 180, 1);
  background: rgba(20, 20, 20, .2);
  color: white;
  /* outline: none; */
  
}
.gameSetLbl{
  font-weight: 300;
  padding-right: 10px;
}
.gameDiv h2{
  text-align: left;
}
