@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: 'Open Sans', sans-serif;
}


.gameChild {
  border: 1px solid rgba(10, 180, 180, 1);  
  background: #111;
  margin-bottom: 85px;
}  

.gameChild:first-child {
  margin-right: 30px;
  padding: 30px;
  color: white;
  
} 


.gameSetDisplay{
  margin: 15px 0;
  font-size: 16px;
  width: 50px;
  border: 1px solid rgba(10, 180, 180, 1);
  background: rgba(20, 20, 20, .2);
  color: white;
  
}

.gameSetLbl{
  font-weight: 300;
}
.gameDiv h2{
  text-align: left;
}
#gameInformationDiv{
  margin-left: 30px;
  padding: 30px;
  
}
input{
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
#canvas{
  background-color:black; 
  /* display: flex; */
}
#gameSetCanvasContainer{
  height: 575px;
}
