@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: 'Open Sans', sans-serif;
}

body {
  overflow: hidden;
  background: #111;
  background-repeat: no-repeat;
}

.menu_wrapper {
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  text-align: center;
  display: flex;
  color: white;
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
}


.menu_container {
  width: 300px;
  padding: 30px 0;
  background: rgba(20, 40, 40, .8);
  transition: .2s;
}
.menu_container .h2{
    font-weight: 300;
}

.inputFields, .lbl {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: auto;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, .2);
  color: white;
  outline: none;
}

.noBullet {
  list-style-type: none;
  padding: 0;
}

.action_fields {
  margin-top: 10px;
  text-align: center;
  width: 200px;
  border: 1px solid rgba(10, 180, 180, 1);
  background: rgba(20, 20, 20, .6);
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: .4s;
}
.action_fields:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px ;
  }

